button {
	font-size: 20px;
	padding: 12px;
	margin: 2px;
	background-color: #FBA100;
	color: white;
	border-radius: 20px;
	border: white;
	transition-duration: 0.2s;
	cursor: pointer;
}
.button:hover {
	background-color: #6C648B;
	color: white;
	border-color: #6C648B;
}
input {
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	background-color: white;
	border-radius: 4px;
}
#expression {
	text-align: center; 
	font-size: 50px;
	font-family: Times New Roman, serif;
	background-color: #6C648B;
	border-radius: 10px;
	display: block;
	position: relative;
	color: white;
	padding: 5px 5px 10px 5px; 
}
#verdict {
	font-size: 20px;
}
.consecutiveText{
	font-size: 20px;
	padding-right: 10px;
	background-color: 
}
#consecutiveCorrect{
	font-size:40px;
}
.panels {

}
.rightPanel{
	width:50%;
	float: left;
	text-align: center; 
}
.leftPanel{
	width:50%;
	float: left;
}	
.buttonset{
	display: flex;
  align-items: center;
  justify-content: center;
}
body {
	background-color: #B6A19E;
}