/* Color */
/* #6C5CE7 ocean blue */
/* #7B88FF blue */
/* #FDCB6E dark sand */
/* #FFF3B1 sand */

button {
	font-size: 20px;
	padding: 12px;
	margin: 2px;
	background-color: #6C5CE7;
	color: white;
	border-radius: 20px;
	border-color: #7B88FF;
	transition-duration: 0.2s;
	cursor: pointer;
}
.button:hover {
	background-color: #7B88FF;
	color: white;
	border-color: #7B88FF;
}
input {
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	background-color: white;
	border-radius: 4px;
}
#expression {
	text-align: center; 
	font-size: 50px;
	font-family: Times New Roman, serif;
	background-color: #6C5CE7;
	border-radius: 10px;
	display: block;
	position: relative;
	color: white;
	padding: 5px 5px 10px 5px; 
}
#verdict {
	font-size: 20px;
}
.consecutiveText{
	font-size: 20px;
	padding-right: 10px;
	background-color: 
}
#consecutiveCorrect{
	font-size:40px;
}
.panels {

}
.rightPanel{
	width:50%;
	float: left;
	text-align: center; 
}
.leftPanel{
	width:50%;
	float: left;
}	
.buttonset{
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	background-color: wheat;
}
